<div id="banner">
  <div class="banner-image">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h1>{{ 'CONTACTUS' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<main id="main" role="main">
  <div class="container">
    <p>{{ 'CONTACTUSTEXT' | translate }}</p>
    <div class="tel"><i class="icon ion-ios-telephone"></i>{{ 'CONTACTUSPHONE' | translate }}</div>
    <a href="mailto:gardar@iuslaw.is" class="mail"><i class="icon ion-email"></i>gardar@iuslaw.is</a>
  </div>
</main>