
<div id="banner" class="big">
    <div class="banner-image">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-6">
                    <div class="banner-overlay animated">
                    <h2 class="special-title">{{ 'FRONTPAGEBANNERQUOTE' | translate }}</h2>
                </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
</div>

<main id="main" role="main">
    <div class="container">
        <app-post-list-simple></app-post-list-simple>
    </div>
</main>


  



